    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-2">
        <div class="card-header py-3">

            <a href="/admin/booking" class="btn btn-warning">Back</a>
        </div>

       <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img
                src="http://localhost:3000/<%= booking.payments.receipt %>"
                alt="image"
                style="width: 100%; display: block"
              />
              <% if(booking.payments.status == 'Process') {%>

              
              <div class="row">
                <div style="max-width: fit-content;" class="col pe-0 me-2">
                    <form class="ms-4" action="/admin/booking/<%= booking.id %>/confirmation?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Confirm</button>
                </form>
                </div>
                <div style="max-width: fit-content;" class="col ps-0">
                    <form action="/admin/booking/<%= booking.id %>/rejection?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Reject</button>
                </form>
                </div>
 
              </div>
              <% } %>
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableActivity" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Member Name</th>
                                <th>Total</th>
                                <th>Bank Origin</th>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>
                                <%= booking.memberId.firstName %> <%= booking.memberId.lastName %>
                            </td>
                            <td>
                               $ <%= booking.total %>
                            </td>
                            <td>
                                <%= booking.payments.bankOrigin %>
                            </td>
                            <td>
                                <%= booking.itemId.title %>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

       </div>
   </div>
